In [25]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.7.0-cp38-cp38-macosx_10_11_x86_64.whl (207.1 MB)
     |████████████████████████████████| 207.1 MB 41 kB/s  eta 0:00:01     |███████████████                 | 97.7 MB 5.7 MB/s eta 0:00:20     |███████████████▏                | 98.0 MB 5.7 MB/s eta 0:00:20     |███████████████████             | 122.6 MB 7.5 MB/s eta 0:00:12     |█████████████████████████████▉  | 193.4 MB 4.7 MB/s eta 0:00:03
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting protobuf>=3.9.2
  Using cached protobuf-3.19.1-cp38-cp38-macosx_10_9_x86_64.whl (1.0 MB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: six>=1.12.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.15.0)
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 5.7 MB/s eta 0:00:01
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.12.1)
Collecting gast<0.5.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 974 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14.5 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.20.1)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 2.7 MB/s eta 0:00:01
Collecting tensorboard~=2.6
  Downloading tensorboard-2.7.0-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 7.6 MB/s eta 0:00:01
Requirement already satisfied: wheel<1.0,>=0.32.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.36.2)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorflow) (2.10.0)
Collecting libclang>=9.0.1
  Downloading libclang-12.0.0-py2.py3-none-macosx_10_9_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 8.4 MB/s eta 0:00:01     |█████████████████████████████▉  | 11.4 MB 8.4 MB/s eta 0:00:01
Collecting flatbuffers<3.0,>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.42.0-cp38-cp38-macosx_10_10_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 12.0 MB/s eta 0:00:01
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Downloading tensorflow_io_gcs_filesystem-0.23.1-cp38-cp38-macosx_10_14_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 7.9 MB/s eta 0:00:01
Collecting keras<2.8,>=2.7.0rc0
  Downloading keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 7.8 MB/s eta 0:00:01
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Downloading tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
     |████████████████████████████████| 463 kB 7.7 MB/s eta 0:00:01
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 4.0 MB/s eta 0:00:011
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.0-py3-none-any.whl (781 kB)
     |████████████████████████████████| 781 kB 8.5 MB/s eta 0:00:01
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-macosx_10_9_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 7.3 MB/s eta 0:00:01
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (2.25.1)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 5.7 MB/s eta 0:00:011
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (52.0.0.post20210125)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.3.3-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 7.4 MB/s eta 0:00:01
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 9.1 MB/s eta 0:00:01
Collecting cachetools<5.0,>=2.0.0
  Using cached cachetools-4.2.4-py3-none-any.whl (10 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting importlib-metadata>=4.4
  Downloading importlib_metadata-4.8.3-py3-none-any.whl (17 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/anaconda3/lib/python3.8/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.4.1)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 5.4 MB/s eta 0:00:01
Requirement already satisfied: idna<3,>=2.5 in /usr/local/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.12.5)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 7.0 MB/s eta 0:00:01
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py) ... done
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4829 sha256=08f14fb2d922e66a6b52453c965ac5702e70b5e22118ee222d884b6dffc9c0df
  Stored in directory: /Users/sherlocked/Library/Caches/pip/wheels/a0/16/9c/5473df82468f958445479c59e784896fa24f4a5fc024b0f501
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, importlib-metadata, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras-preprocessing, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 3.10.0
    Uninstalling importlib-metadata-3.10.0:
      Successfully uninstalled importlib-metadata-3.10.0
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-4.2.4 flatbuffers-2.0 gast-0.4.0 google-auth-2.3.3 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.42.0 importlib-metadata-4.8.3 keras-2.7.0 keras-preprocessing-1.1.2 libclang-12.0.0 markdown-3.3.6 oauthlib-3.1.1 opt-einsum-3.3.0 protobuf-3.19.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.8 tensorboard-2.7.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.0 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.23.1 termcolor-1.1.0

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.sparse import csr_matrix
import random
import math
print('finished importing')

finished importing

In [3]:
import collections
from mpl_toolkits.mplot3d import Axes3D
from IPython import display
from matplotlib import pyplot as plt
import sklearn
import sklearn.manifold
import tensorflow.compat.v1 as tf

In [4]:
def mask(df, key, function):
  """Returns a filtered dataframe, by applying function to key"""
  return df[function(df[key])]

def flatten_cols(df):
  df.columns = [' '.join(col).strip() for col in df.columns.values]
  return df

pd.DataFrame.mask = mask
pd.DataFrame.flatten_cols = flatten_cols

In [5]:
# from google.colab import drive
# drive.mount('/content/drive/')
# DIR = '/content/drive/MyDrive/Team_34_Algo_Project'
DIR = '.'

In [16]:
ratings_df = pd.read_csv(f'{DIR}/data/rating.csv')
ratings_df.columns =['user_id', 'movie_id', 'rating', 'unix_timestamp']
# movie_df = pd.read_csv(f'{DIR}/data/movie.csv')

# df = movie_df.merge(ratings_df, on="movieId")
# df.head()
ratings_df

          user_id  movie_id  rating       unix_timestamp
0               1         2     3.5  2005-04-02 23:53:47
1               1        29     3.5  2005-04-02 23:31:16
2               1        32     3.5  2005-04-02 23:33:39
3               1        47     3.5  2005-04-02 23:32:07
4               1        50     3.5  2005-04-02 23:29:40
...           ...       ...     ...                  ...
20000258   138493     68954     4.5  2009-11-13 15:42:00
20000259   138493     69526     4.5  2009-12-03 18:31:48
20000260   138493     69644     3.0  2009-12-07 18:10:57
20000261   138493     70286     5.0  2009-11-13 15:42:24
20000262   138493     71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [9]:
print(ratings_df.shape)
print(movie_df.shape)

(20000263, 4)
(27278, 3)

In [10]:
movie_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [11]:
ratings_df

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [12]:
#20 million ratings and 465,000 tag applications applied to 27,000 movies by 138,000 users.
print(f"{pd.unique(ratings_df['movieId']).shape} vs {movie_df.shape}")

(26744,) vs (27278, 3)

In [22]:
ratings_df['movie_id'].max()

131262

In [13]:
len(ratings_df['movieId'].unique())

26744

In [14]:
movies = pd.DataFrame(ratings_df['movieId'], columns=['movieId'])
movies

          movieId
0               2
1              29
2              32
3              47
4              50
...           ...
20000258    68954
20000259    69526
20000260    69644
20000261    70286
20000262    71619

[20000263 rows x 1 columns]

In [15]:
#20 million ratings and 465,000 tag applications applied to 27,000 movies by 138,000 users.
pd.unique(ratings_df['userId']).shape

(138493,)

In [16]:
users = pd.DataFrame(ratings_df['userId'], columns=['userId'])
users

          userId
0              1
1              1
2              1
3              1
4              1
...          ...
20000258  138493
20000259  138493
20000260  138493
20000261  138493
20000262  138493

[20000263 rows x 1 columns]

In [17]:
users.shape

(20000263, 1)

In [18]:
users_ratings = (
    ratings_df
    .groupby('userId', as_index=False)
    .agg({'rating': ['count', 'mean']})
    .flatten_cols()
    .merge(users, on='userId')
)
users_ratings

          userId  rating count  rating mean
0              1           175     3.742857
1              1           175     3.742857
2              1           175     3.742857
3              1           175     3.742857
4              1           175     3.742857
...          ...           ...          ...
20000258  138493           373     4.172922
20000259  138493           373     4.172922
20000260  138493           373     4.172922
20000261  138493           373     4.172922
20000262  138493           373     4.172922

[20000263 rows x 3 columns]

In [19]:
def build_rating_sparse_tensor(ratings_df):
  """
  Args:
    ratings_df: a pd.DataFrame with `user_id`, `movie_id` and `rating` columns.
  Returns:
    a tf.SparseTensor representing the ratings matrix.
  """
  indices = ratings_df[['userId', 'movieId']].values
  vals = ratings_df['rating'].values
  return tf.SparseTensor(
      indices=indices,
      values=vals,
      dense_shape=[users.shape[0], movies.shape[0]])

In [20]:
#@title Alternate Solution
def sparse_mean_square_error(sparse_ratings, user_embeddings, movie_embeddings):
  """
  Args:
    sparse_ratings: A SparseTensor rating matrix, of dense_shape [N, M]
    user_embeddings: A dense Tensor U of shape [N, k] where k is the embedding
      dimension, such that U_i is the embedding of user i.
    movie_embeddings: A dense Tensor V of shape [M, k] where k is the embedding
      dimension, such that V_j is the embedding of movie j.
  Returns:
    A scalar Tensor representing the MSE between the true ratings and the
      model's predictions.
  """
  predictions = tf.reduce_sum(
      tf.gather(user_embeddings, sparse_ratings.indices[:, 0]) *
      tf.gather(movie_embeddings, sparse_ratings.indices[:, 1]),
      axis=1)
  loss = tf.losses.mean_squared_error(sparse_ratings.values, predictions)
  return loss

In [21]:
# @title CFModel helper class (run this cell)
class CFModel(object):
  """Simple class that represents a collaborative filtering model"""
  def __init__(self, embedding_vars, loss, metrics=None):
    """Initializes a CFModel.
    Args:
      embedding_vars: A dictionary of tf.Variables.
      loss: A float Tensor. The loss to optimize.
      metrics: optional list of dictionaries of Tensors. The metrics in each
        dictionary will be plotted in a separate figure during training.
    """
    self._embedding_vars = embedding_vars
    self._loss = loss
    self._metrics = metrics
    self._embeddings = {k: None for k in embedding_vars}
    self._session = None

  @property
  def embeddings(self):
    """The embeddings dictionary."""
    return self._embeddings

  def train(self, num_iterations=100, learning_rate=1.0, plot_results=True,
            optimizer=tf.train.GradientDescentOptimizer):
    """Trains the model.
    Args:
      iterations: number of iterations to run.
      learning_rate: optimizer learning rate.
      plot_results: whether to plot the results at the end of training.
      optimizer: the optimizer to use. Default to GradientDescentOptimizer.
    Returns:
      The metrics dictionary evaluated at the last iteration.
    """
    with self._loss.graph.as_default():
      opt = optimizer(learning_rate)
      train_op = opt.minimize(self._loss)
      local_init_op = tf.group(
          tf.variables_initializer(opt.variables()),
          tf.local_variables_initializer())
      if self._session is None:
        self._session = tf.Session()
        with self._session.as_default():
          self._session.run(tf.global_variables_initializer())
          self._session.run(tf.tables_initializer())
          tf.train.start_queue_runners()

    with self._session.as_default():
      local_init_op.run()
      iterations = []
      metrics = self._metrics or ({},)
      metrics_vals = [collections.defaultdict(list) for _ in self._metrics]

      # Train and append results.
      for i in range(num_iterations + 1):
        _, results = self._session.run((train_op, metrics))
        if (i % 10 == 0) or i == num_iterations:
          print("\r iteration %d: " % i + ", ".join(
                ["%s=%f" % (k, v) for r in results for k, v in r.items()]),
                end='')
          iterations.append(i)
          for metric_val, result in zip(metrics_vals, results):
            for k, v in result.items():
              metric_val[k].append(v)

      for k, v in self._embedding_vars.items():
        self._embeddings[k] = v.eval()

      if plot_results:
        # Plot the metrics.
        num_subplots = len(metrics)+1
        fig = plt.figure()
        fig.set_size_inches(num_subplots*10, 8)
        for i, metric_vals in enumerate(metrics_vals):
          ax = fig.add_subplot(1, num_subplots, i+1)
          for k, v in metric_vals.items():
            ax.plot(iterations, v, label=k)
          ax.set_xlim([1, num_iterations])
          ax.legend()
      return results

In [22]:
#@title Solution
def build_model(ratings, embedding_dim=3, init_stddev=1.):
  """
  Args:
    ratings: a DataFrame of the ratings
    embedding_dim: the dimension of the embedding vectors.
    init_stddev: float, the standard deviation of the random initial embeddings.
  Returns:
    model: a CFModel.
  """
  # Split the ratings DataFrame into train and test.
  train_ratings, test_ratings = split_dataframe(ratings)
  # SparseTensor representation of the train and test datasets.
  A_train = build_rating_sparse_tensor(train_ratings)
  A_test = build_rating_sparse_tensor(test_ratings)
    
  print('A_train shape', A_train.shape)
  print('A_test shape', A_test.shape)

  # Initialize the embeddings using a normal distribution.
  U = tf.Variable(tf.random_normal(
      [A_train.dense_shape[0], embedding_dim], stddev=init_stddev))
  V = tf.Variable(tf.random_normal(
      [A_train.dense_shape[1], embedding_dim], stddev=init_stddev))
  
  train_loss = sparse_mean_square_error(A_train, U, V)
  test_loss = sparse_mean_square_error(A_test, U, V)
  metrics = {
      'train_error': train_loss,
      'test_error': test_loss
  }
  embeddings = {
      "userId": U,
      "movieId": V
  }
  return CFModel(embeddings, train_loss, [metrics])

In [23]:
# Utility to split the data into training and test sets.
def split_dataframe(df, holdout_fraction=0.1):
  """Splits a DataFrame into training and test sets.
  Args:
    df: a dataframe.
    holdout_fraction: fraction of dataframe rows to use in the test set.
  Returns:
    train: dataframe for training
    test: dataframe for testing
  """
  test = df.sample(frac=holdout_fraction, replace=False)
  train = df[~df.index.isin(test.index)]
  return train, test

In [ ]:
# Build the CF model and train it.
model = build_model(ratings_df, embedding_dim=30, init_stddev=0.5)
model.train(num_iterations=1000, learning_rate=10.)

A_train shape (20000263, 20000263)
A_test shape (20000263, 20000263)

In [12]:
rating_df.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [9]:
movie_df.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [21]:
len(pd.unique(df['userId']))

138493

In [5]:
title_counts = pd.DataFrame(df["title"].value_counts())

In [6]:
# # remove movies that appear less 3000 times
# popular_threashold = 2000
# popular_movies = df[~df["title"].isin(title_counts[title_counts["title"] <= popular_threashold].index)]

In [8]:
user_movie_table = movies_df.pivot_table(index=["userId"], columns=["title"], values="rating")
user_movie_table.head()

NameError: name 'movies_df' is not defined

In [23]:
user_movie_table.shape

(138493, 2034)

In [7]:
random_user = int(pd.Series(user_movie_table.index).sample(1, random_state = 200).values)
print("The random user is " + str(random_user))
random_user_df = user_movie_table[user_movie_table.index == random_user]
random_user_movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()

NameError: name 'user_movie_table' is not defined

In [ ]:
movies_watched_df = user_movie_table[random_user_movies_watched]
movies_watched_df.head()

In [ ]:
user_movie_count = movies_watched_df.T.notnull().sum()
user_movie_count.head(25)
user_movie_count = user_movie_count.reset_index() 
user_movie_count.columns = ["userId", "movie_count"]
users_same_movies = user_movie_count[user_movie_count["movie_count"] > 20]["userId"]
users_same_movies.index


final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                      random_user_df[random_user_movies_watched]])
final_df.head()

In [ ]:
corr_table = final_df.T.corr(method ='kendall').unstack()
corr_table = corr_table.sort_values()
corr_table

In [ ]:
#calculate the similarities scores using .corr()

corr_df = pd.DataFrame(corr_table, columns=["corr"])
corr_df.head()
corr_df.index.names = ['target_user', 'predict_user']
corr_df = corr_df.reset_index()
corr_df.sort_values(by='corr',ascending=False).head(100)

In [ ]:
corr_threshold = 0.5
top_users = corr_df[(corr_df["target_user"] == random_user) & (corr_df["corr"] > corr_threshold)][
    ["predict_user", "corr"]].reset_index(drop=True)
top_users.head()
top_users = top_users.sort_values(by='corr', ascending=False)
top_users.rename(columns={"predict_user": "userId"}, inplace=True)
top_users.head()

In [ ]:
# calcuating weighted_rating use the similarity score
top_users_ratings = top_users.merge(rating_df[["userId", "movieId", "rating"]], how='inner')
top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
top_users_ratings.head(100)

In [ ]:
random_movieIds = top_users_ratings['movieId'].sample(10).values

In [ ]:
random_movieIds

In [ ]:
target_ratings, predicted_movie_ratings = [], []

for i in random_movieIds:
  # append results
  current = top_users_ratings.loc[top_users_ratings["movieId"].isin(random_movieIds)]
  target_ratings.append(current['rating'])
  predicted_movie_ratings.append(current['weighted_rating'])

In [ ]:
# compute MSE
from sklearn.metrics import mean_squared_error
mse_batch = mean_squared_error(np.array(target_ratings), np.array(predicted_movie_ratings))

print(mse_batch)

In [ ]:
# compute RMSE
rmse_batch = mean_squared_error(np.array(target_ratings), np.array(predicted_movie_ratings), squared=False)

print(rmse_batch)

# Overall MSE

In [ ]:
# Calculate MSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(top_users_ratings['rating'], top_users_ratings['weighted_rating'])

In [ ]:
print(mse)

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(top_users_ratings['rating'], top_users_ratings['weighted_rating'], squared=False)

In [ ]:
print(rmse)